
-if @user.hide_on_bio_page
  .row
    .col-md-12
      %p This user bio page is disabled.
-else
  .jumbotron
    .row
      .col-md-2.center
        =image_tag(@user.user_icon, :width => 130, :height => 130, :class => 'img-rounded')

      .col-md-10
        %h2=@user.name

        %p.lead=@user.bio

        %hr{ :style => 'border-top: 1px solid #999' }

        -if @user.show_twitter && !@user.twitter.nil?
          %p <a href="https://twitter.com/#{@user.twitter}" class="twitter-follow-button" data-show-count="false">Follow @twitter</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        -if @user.show_email && !@user.email.nil?
          %p <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:#{@user.email}">#{@user.email}</a>

  .row
    .col-md-12
      .content-block
        -if @hosted_episodes.length > 0
          %h3 Hosted episodes
          %ul
            -@hosted_episodes.each do |episode|
              %li
                =link_to "#{episode.show.name} #{episode.full_title}", [episode.show, episode]
                -if !episode.live?
                  %span.label.label-danger Not Live
                -if episode.preview? && !episode.live?
                  %span.label.label-warning Preview
        -if @guest_episodes.length > 0
          %h3 Guest episodes
          %ul
            -@guest_episodes.each do |episode|
              %li
                =link_to "#{episode.show.name} #{episode.full_title}", [episode.show, episode]
                -if !episode.live?
                  %span.label.label-danger Not Live
                -if episode.preview? && !episode.live?
                  %span.label.label-warning Preview
