%p#notice= notice

%p
  %b Title:
  = @episode.title
%p
  %b Number:
  = @episode.number
%p
  %b Part:
  = @episode.part
%p
  %b Description:
  = @episode.description
%p
  %b Notes:
  = @episode.notes
%p
  %b Media:
  = @episode.media
