%h1 Listing rsses

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @rsses.each do |rss|
    %tr
      %td= rss.name
      %td= link_to 'Show', rss
      %td= link_to 'Edit', edit_rss_path(rss)
      %td= link_to 'Destroy', rss, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Rss', new_rss_path
