%h1 Listing rss_feeds

%table
  %tr
    %th Name
    %th Order
    %th
    %th
    %th

  - @rss_feeds.each do |rss_feed|
    %tr
      %td= rss_feed.name
      %td= rss_feed.order
      %td= link_to 'Show', rss_feed
      %td= link_to 'Edit', edit_rss_feed_path(rss_feed)
      %td= link_to 'Destroy', rss_feed, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Rss feed', new_rss_feed_path
